.InfoAdmin {}

.info_Admin {
}

.info_Admin_box {
    background-color: rgba(29, 29, 50, 0.911) !important;
    border-radius: 12px;
    color: #FFF;
    padding: 10px;
    margin: 25px !important;
    height: max-content;
    box-shadow: rgb(179 61 61 / 25%) 0px 14px 28px, rgb(185 18 18 / 22%) 0px 10px 10px;
}
.info_Admin_box small {
    color: #FFF !important;
    display: block;
    margin-top: 2px;
}